.body__dark{
  background: #4a4a4a;
  color: #fff;
}

.body__light{
  background: #fff;
  color: #000;
}

.content{
  max-width: 1220px;
  margin: 0 auto;
  padding: 80px 10px 10px 10px;
  height: 100%;
}

.change__theme{
  position: fixed;
  padding: 10px;
  border-radius: 20px;
  right: 0;
  bottom: 80px;
  background: rgba(255, 255, 255, 0.27);
  border: 1px solid transparent;
}

.change__theme:hover{
  background: #fff;
  border: 1px solid #000;
}
