.movie-detail__container{
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.movie-detail__container > img{
  max-width: 400px;
}

.movie__info{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie__title{
  font-size: 30px;
  margin-bottom: 10px;
}

.movie__original-title{
  color: #8b8b8b;
  font-weight: 700;
  margin-bottom: 15px;
}

.movie__tagline{
  font-weight: 600;
  margin-bottom: 15px;
}

.movie__overview{
  margin-bottom: 15px;
  font-weight: 600;
}

.movie__companies{
  margin-top: 20px;
}

.movie__countries, .movie__genres{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
