<div class="movie-card__body">
  <a [routerLink]="['/', 'movies', movie.id]">
    <img class="movie-card__poster" src="{{imgApi}}{{movie.poster_path}}" alt="{{movie.title}}">
    <div class="movie-card__txt">
      <p>{{movie.title}}</p>
      <div class="movie-card__genres">
        <p *ngFor="let genre of currentGenres">{{genre.name}}</p>
      </div>
      <div class="rating">
        <ngb-rating [max]="10" [(rate)]="rating" [readonly]="true"></ngb-rating>
      </div>
    </div>
  </a>
</div>
