.movie-card__body {
  width: 300px;
  height: 420px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  transition: all .8s;
  color: white;
}

.movie-card__body:hover {
  box-shadow: 0 0 80px #252525;
}

.movie-card__poster {
  width: 300px;
}

.movie-card__txt {
  position: absolute;
  z-index: 1;
  top: 300px;
  background: rgba(74, 74, 74, 0.6);
  width: 300px;
  height: 120px;
  text-align: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-card__genres {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.movie-card__genres > p {
  padding: 5px;
  background: rgba(232, 196, 2, 0.49);
  border-radius: 10px;
}
